<h3> My Already Watched Movies </h3>
<br/>
<span> Movie Count: <%= @my_already_watched_movies_latest.size %> </span>

<% if @my_already_watched_movies_latest.any? %>
  <ul>
    <% @my_already_watched_movies_latest.each do |m| %>
      <% movie = m.movie %>
      <li>
        <strong><%= movie.title %></strong> <br/>
        <img src=<%= movie.poster %> alt=""> <br/>

        Watched <%= @watched_counts[movie.id] %> time/s <br/>
        Latest Watched Date: <%= m.created_at.strftime('%B %d, %Y %I:%M %p') %> <br/>
        Latest Personal Rating: <%= m.personal_rating || "N/A" %> <br/>
        Latest Remarks: <%= m.remarks.presence || "None" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no already watched movies yet.</p>
<% end %>