<body class="bg-cover bg-[url('/dark-vip-cinema-studio-still-life.jpg')] overflow-x-hidden">

<% @my_favorite_movies.each do |m| %>
 <div class="fixed right-0 mt-4 mr-45 inline-flex justify-center items-center py-1 px-3 text-base font-medium text-center text-white rounded-lg hover:bg-gray-200 hover:text-gray-800 border-4 border-gray-200">
    <%= link_to 'Back', movie_path(m.api_movie_id), class: "cursor-pointer" %>
  </div>
<% end %>


<div class="mt-20 w-full">
  <h1 class="text-5xl font-extrabold text-white">
    My Favorites
    <small class="ms-2 font-semibold text-gray-500 text-gray-400">
      <%= @my_favorite_movies.count %>
    </small>
  </h1>


<div class="mt-10 w-full">
  <div class="w-full overflow-x-auto shadow-md rounded-lg">
    <% if @my_favorite_movies.any? %>
      <table class="text-sm w-full text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 text-left">
              <tr>
                  <th scope="col" class="px-16 py-3">
                      <span class="sr-only">Image</span>
                  </th>
                  <th scope="col" class="px-6 py-3">
                    
                  </th>
                  <th scope="col" class="px-6 py-3">
                      
                  </th>
              </tr>
          </thead>
          <tbody>
              <% @my_favorite_movies.each do |m|  %>
                  <tr class="bg-white border-b border-gray-200 hover:bg-gray-50">
                      <td class="p-4">
                          <img src=<%= m.poster %> class="w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch">
                      </td>
                      <td class="px-6 py-4 font-semibold text-gray-900">
                          <%= m.title %>
                      </td>
                      <td class="px-6 py-4 font-semibold text-gray-900">
                          <div class="inline-flex items-center justify-center px-5 py-2 me-2 text-sm mt-4 bg-green-500 text-white rounded-lg hover:bg-green-600 transition-all duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg cursor-pointer">
                            <%= link_to "Show", movie_path(m.api_movie_id) %>
                          </div>
                      </td>
                  </tr>
                <% end %>
          </tbody>
        </table>
      <% else %>
            <div class="text-center text-white text-lg mt-10">
              You have no favorite movies yet.
            </div>
      <% end %>
    </div>
  </div>
</div>

</body>
