<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "W2w" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://kit.fontawesome.com/73d5a06d55.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/flowbite@1.6.6/dist/flowbite.min.js"></script>
    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const flashes = document.querySelectorAll(".flash-message");
        flashes.forEach(flash => {
          setTimeout(() => {
            flash.classList.add("opacity-0", "pointer-vents-none");
            setTimeout(() => flash.remove(), 3500);
          }, 1500);
        });
      });
    </script>

  </head>

  <body>
    <main class="container mx-auto flex">
      <% if user_signed_in? %>
        <div class="flex items-center space-x-2 fixed left-0 mt-4 ml-10">
          <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
          </div>
          <span class="text-base font-medium text-center text-white"><%= current_user.name %></span>
        </div>
        <div class="fixed right-0 mt-4 mr-10 inline-flex justify-center items-center py-1 px-3 text-base font-medium text-center text-white rounded-lg hover:bg-gray-200 hover:text-gray-800 border-4 border-gray-200">
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "cursor-pointer" %>
        </div>
      <% end %>

      <% flash.each do |type, msg| %>
        <% flash_classes = case type.to_sym
          when :notice then "bg-blue-100 text-blue-800"
          when :alert then "bg-red-100 text-red-800"
          when :error then "bg-red-100 text-red-800"
          when :success then "bg-green-100 text-green-800"
          else "bg-gray-100 text-gray-800"
        end %>

        
        <div class="flash-message fixed top-20 left-1/2 transform -translate-x-1/2 z-100 w-full max-w-2xl px-4 py-3 rounded-lg shadow transition-opacity duration-3500 ease-in-out <%= flash_classes %>" role="alert">
          <div class="text-center w-full">
            <span><%= msg %></span>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>




